<div class="row">
  <div class="col-sm-2 bg-info">
    <ul class="navbar-nav mr-auto">  
      <li class="nav-item">
        <a class="nav-link" href="#" id="add-women"><%= gender.women %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" id="add-men"><%= gender.men %></a>
      </li>
    </ul>
  </div>
  <div class="col-10 bg-light">
    <div class="container">
      <div class="row" id="show-catalog"></div>
      <div class="row">
        <button class="btn btn-default" type="button" id="addToCart"></button>
      </div>

    </div>
  </div>

  <h2>HTML Forms</h2>

<form action="/products/3">
  <!-- <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br> -->
  <input type="submit" value="Submit">
</form>


</div>
<div><div style="justify-content: center;background-color: rgb(148, 99, 99);width: 10%;text-align: center;height: 50px;align-content: center;"><a href="/products/3">силка</a></div></div>