<h3>
    Ваше замовлення прийняте:
</h3>




<a href="/orders/customers/<%= user_id%>" " class="btn btn-primary">Перейти в кошик</a>

<button type="button" class="btn btn-secondary">
    <a href="/products"  class="btn btn-primary">Повернутися до каталогу</a>
</button>
<button type="button" class="btn btn-secondary">
    <a href="/home"  class="btn btn-primary">На голговну</a>
</button>