<%- include('partials/header'); -%>

<div class="container">
    <div class="row">
      <div class="col-12">
        <h3><%= title%></h3>
      </div>
      
    </div>
  </div>


<%- include('partials/catalog'); -%>
 




<script src="js/cart-products.js" type="module"></script>
<%- include('partials/footer'); -%>