<%- include('partials/header'); -%>
<a href="/home"><button type="button" class="btn btn-light">Повернутися на головну</button></a>


<script>
    console.log(localStorage.getItem('id'));
</script>

<%- include('partials/footer'); -%>