<%- include('partials/header'); -%>
<form action="/signup">
    <h2>Sign up</h2>
    <label for="name">Name</label>
    <input type="text" name="name" required />
    <div class="name error"></div>
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="text" name="password" required />
    <div class="password error"></div>
    <button>  Sign up</button>
</form>
<div class="after-signup"></div>
<a href="products" id="after-signup" style="display: none;">Перейти до каталогу</a>
<script>
   
    const form = document.querySelector('form');
    const Error = document.querySelector('.name.error');
    const nameError = document.querySelector('.name.error');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    const afterSignup = document.querySelector('.after-signup');
    const afterSignupId =document.getElementById('after-signup'); 
  
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
       
       nameError.textContent = '';
        emailError.textContent = '';
        passwordError.textContent = '';
        const name = form.name.value;
        const email = form.email.value;
        const password = form.password.value;
        try {
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({
                    name,
                    email,
                    password
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            const result = await res.json();
          //  console.log(`signup: ${result.a}`, res.status);
            if (res.status === 400) {
                // emailError.textContent = result.email;
                // passwordError.textContent = result.password;
                // console.log(result);
                console.log("res::;" + result);
            }
            if (res.status === 200) {
                var people ;
                 var html = ejs.render(`<%= people; %>`, {people: people});
                afterSignupId.style.display = html; 
                const customer = result;
                try {
                } catch (err) {
                    console.log(err);
                }
            }
        } catch (err) {
            console.log('err::' + err)
        }
    })
</script>
<%- include('partials/footer'); -%>